.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    background: #fff;
    padding-bottom: 30px;

}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 9px;
    width: 100%;
    margin-top: 30px;

}

.text {
    color: #3c009d;
    font-size: 30px;
    font-weight: 700;
}

.inputs {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 25px;

}

.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 300px;
    height: 40px;
    background: #eaeaea;
    border-radius: 6px;
}

span {
    font-size: 10 px;
    padding: 3px;
    color: red;
    display: none;
}

input:invalid~span {
    display: -moz-popup;
}

.input label {
    display: inline-block;
    width: 100px;
    text-align: center;
}

​ .input input {
    height: 50px;
    width: 80px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;

}

.submit-container {
    display: flex;
    gap: 30px;
    margin: 5px auto;
}